.dashboard-container {
	background-color: #f3f5f7;
	flex: 1;
}

.cards-conatiner {
	display: flex;
	flex-direction: row;
	padding-top: 16px;
}

.card {
	display: flex;
	flex-direction: column;
	background: #ffffff;
	border: 1px solid #eaeaea;
	width: 20vw;
	min-width: 293px;
	height: 49vh;
	box-sizing: border-box;
	box-shadow: 0px 2px 4px #ebebeb;
	border-radius: 10px;
	margin-left: 24px;
}

.agenda-card-header {
	justify-content: space-between;
}

.card-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 16px 0px 24px;
}

.card-header-left-div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card-icon {
	width: 20px;
	height: 20px;
}

.card-title {
	margin: 16px 16px 16px 8px;
}

.card-body {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 24px 27px 0px;
	border-top: 1px solid #eaeaea;
	overflow: auto;
	margin-bottom: 16px;
}

.checklist-div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.card-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 26px;
}

.card-button {
	display: flex;
	align-items: center;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 10px 24px;
}

.card-button.active {
	background: rgba(234, 234, 234, 0.4);
	border: 1px solid #e5e5e5;
	cursor: pointer;
}

.button-text.active {
	color: #272727 !important;
}

.button-text {
	color: rgba(39, 39, 39, 0.6);
	margin: 0px 0px 0px 16px;
}

.notes-div {
	background: #f9f9f9;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 10px;
	width: 100%;
	height: 26vh;
	padding: 16px;
}

.note-div {
	border: 0px;
	resize: none;
	height: 100%;
	width: 100%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	line-height: 10px;
	color: #272727;
	background-color: inherit;
	outline: 0px;
}

.notes-warning {
	color: #d85988;
	margin: 10px auto 0px auto;
}

.tooltip {
	position: relative;
	display: inline-block;
}

/* Hide the tooltip */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 70%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

/* Show tooltip on hover */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.card-arrow {
	cursor: pointer;
}

.card-collapse-div {
	flex: 1;
	max-height: calc(100% - 22px);
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.collapsible-card {
	align-self: flex-start;
	height: auto;
}

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 24px;
	margin-bottom: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-text {
	margin-top: 4px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;

	background: #ffffff;
	border: 2px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
	background-color: #f9f9f9;
}

/* When the checkbox is checked, add a green background */
.checkbox-container input:checked ~ .checkmark {
	background-color: #2bd49b;
	border: 0px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 5.5px;
	top: 3px;
	width: 3px;
	height: 6px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
