.sidebar-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 5vw;
	max-width: 52px;
	padding: 10px 10px 60px 10px;
	box-shadow: 0px 4px 4px #d3d3d3;
}

.logo-container {
	display: flex;
}

.nav-items-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	width: 100%;
	margin-top: 16px;
	margin-bottom: 24px;
}

.nav-items-div {
	flex: 1;
	padding-top: 16px;
}

.sidenav-icon-div {
	height: 52px;
	width: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 18px;
	margin-bottom: 8px;
}

.sidenav-active {
	background-color: #eaeaea;
}

.sidenav-inactive:hover {
	background-color: rgba(234, 234, 234, 0.4);
	cursor: pointer;
}

.sidenav-icon {
	width: 24px;
	height: 24px;
}

.nav-horiz-line {
	width: 38px;
	border: 1px solid #e9e9eb;
}

.profile-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 24px;
	width: 24px;
	border: 4px solid #2ce3a0;
	border-radius: 50%;
}

.profile-picture {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
